/*.suo
.vs/
.vscode/
obj/
/*.user
_Resharper*
.hgtags
NuGet.exe
*.user
*.nupkg
.nupkgs/
.docstats
*.ide/
*.lock.json
*.coverage
.dotnet/*
*.bak
*.config
!Web.config
!Web.Debug.config
cgi-bin
**/resources/token.json/*
bin